img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  h1{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
  }
  h2{
    font-size: 30px;
    text-align: center;
  }
  .mat-cell{
    font-size: 20px;
  }
  